body{
    background-color: #c6d9ee;
    font-family: sans-serif;
    text-align: justify;
}

h1{
    font-size: 300%;/* = 3rem*/
    text-align: right;
}

h2{
    font-family: monospace;
    font-size: 200%;
    font-variant: small-caps;/*lo hace más pequeño???*/
}

p{
    line-height: 200%;
    text-indent: 3em;
}

span{
    color:red;
    font-family: "Comic Sans",cursive;
}

em{
    background-color: white;
    color: green;
}

time{
    color: orange;
}

strong{
    color: orange;
}
